<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Listar Usuario</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>

  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Andra Morales</ion-label> <ion-button>Modificar</ion-button> <ion-button color="danger">Eliminar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Pedro Picapiedra</ion-label> <ion-button>Modificar</ion-button> <ion-button color="danger">Eliminar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Vilma Gonzales</ion-label><ion-button>Modificar</ion-button> <ion-button color="danger">Eliminar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Pablo Marmol </ion-label> <ion-button>Modificar</ion-button> <ion-button color="danger">Eliminar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Betty Santos</ion-label> <ion-button>Modificar</ion-button> <ion-button color="danger">Eliminar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Angelo Salgado </ion-label> <ion-button>Modificar</ion-button> <ion-button color="danger">Eliminar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Angela Morales </ion-label> <ion-button>Modificar</ion-button> <ion-button color="danger">Eliminar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Alexis Puerta</ion-label> <ion-button>Modificar</ion-button> <ion-button color="danger">Eliminar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Gabriel Gonzales </ion-label> <ion-button>Modificar</ion-button> <ion-button color="danger">Eliminar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Antonio Varas </ion-label> <ion-button>Modificar</ion-button> <ion-button color="danger">Eliminar</ion-button>
      </ion-item>
      
    </ion-list>
  </ion-content>

</ion-content>