<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Eliminar Usuario</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>

  
  <div id="container" style="margin-top: 30px;">

    <ion-label ><h2 style="padding-left:140px; padding-bottom:14px;">Eliminar Usuario</h2></ion-label>
  
    <ion-input label="Nombre" label-placement="floating" fill="outline" placeholder="Ingresa tu Nombre"></ion-input>
    <br />
    <ion-input label="Rut" label-placement="floating" fill="outline" placeholder="Ingresa tu Rut"></ion-input>
    <br>
    <ion-input label="Correo" label-placement="floating" fill="outline" placeholder="Ingresa tu Correo"></ion-input>
    <br>
    <ion-input label="Telefono" label-placement="floating" fill="outline" placeholder="Ingresa tu Telefono"></ion-input>
    <br>
    <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa tu Contraseña"></ion-input>
    <br>
    
  
    
    
    <a style=" text-align: center; align-items: center; margin-left: 150px; justify-content: center;" href="#">¿Ir a Home?</a>
    <BR>
    <ion-button color="danger" style=" display: block; text-align: center; margin-top: 10px; align-items: center; justify-content: center;">Eliminar</ion-button>
  
  </div>
</ion-content>